:root {
    --primaria: #2b4cb8;
    --primaria-dark: #0c3197;
    --primaria-light: #2f80ed;

    --secundaria: #d81b60;
    --secundaria-dark: #A00037;
    --secundaria-light: #ff5c8d;

    --branco: #ffffff;
    --cinza: #828282;

    --grande: 26px;
    --medio: 16px;
    --pequeno: 14px;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
}

body {
    background-color: var(--branco);
}